<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>学天市場</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/reset.css" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
	
	<div class="container">
			<header class="row">
				<h1 class="col-3"><a th:href="@{/snack/list}">学天市場</a></h1>
				<form method="post" th:action="@{/snack/search} " class="col-3"th:object="${snackForm}">
					<input type="search" placeholder="キーワードを入力" th:field="*{snackname}">
					<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
				
				</form>
				<ul class="col-6">
					<li><a th:if="${#authentication != null and #authentication.principal == 'anonymousUser'}" th:href="@{/user/login}">ログイン</a></li>
					<li><a th:if="${#authentication != null and #authentication.principal != 'anonymousUser'}" th:href="@{/user/info}">ユーザー情報</a></li>

					<li><a th:href="@{/buy/favorite}">お気に入り</a></li>
					<li><a th:href="@{/buy/buy_history}">購入履歴</a></li>
					<li><a th:href="@{/buy/bag}">買い物かご</a></li>
					<li><a th:href="@{/buy/history}">閲覧履歴</a></li>
				</ul>
				
			</header>
			
			<div class="row">
				<div class="category col-2 text-center" >
					<h2>カテゴリー</h2>
					<ul>
						<li><a th:href="@{/snack/snack_list/snacks}">スナック菓子</a></li>
						<li><a th:href="@{/snack/snack_list/gummi}">グミ</a></li>
						<li><a th:href="@{/snack/snack_list/baked_sweets}">焼き菓子</a></li>
						<li><a th:href="@{/snack/snack_list/chocolate}">チョコ</a></li>
						<li><a th:href="@{/snack/snack_list/dairy_products}">乳製品</a></li>
						<li><a th:href="@{/snack/snack_list/candy}">キャンディー</a></li>
						<li><a th:href="@{/snack/snack_list/evasion_of_the_law}">脱法</a></li>
						<li><a th:href="@{/snack/snack_list/educational_sweets}">知育菓子</a></li>
						<li><a th:href="@{/snack/snack_list/fruit}">フルーツ菓子</a></li>
						<li><a th:href="@{/snack/snack_list/jelly}">ゼリー</a></li>
					</ul>
				</div>
				
						

				<section id="add" class="col-10 text-center">
					<h2>新規登録</h2>
					
						<form method="post" th:action="@{/user/add_action}" th:object="${form}">

							<div class="col-12 text-left">
								<div class="row">
									<label for="name" class="col-2 offset-1">お名前</label>
									<input type="text" th:field="*{name}" placeholder="山田太郎" class="col-6 offset-1" required />
								</div>
								<div class="row">
									<label for="kana" class="col-2 offset-1">フリガナ</label>
									<input type="text" th:field="*{kana}"placeholder="ヤマダタロウ" class="col-6 offset-1" required />
								</div>
								
								<div class="row">
									<label for="email" class="col-2 offset-1">メールアドレス</label>
									<input type="text" th:field="*{email}"class="col-6 offset-1" required />
								</div>
								<div class="row">
									<label for="tel" class="col-2 offset-1">電話番号</label>
									<input type="tel" th:field="*{tel}"placeholder="xxx-xxxx-xxx" pattern="\d{2,4}-\d{2,4}-\d{3,4}"class="col-6 offset-1" required />
								</div>
								<div class="row">
									<label for="zip" class="col-2 offset-1">郵便番号</label>
									<input type="text" th:field="*{zip}" placeholder="xxx-xxxx" pattern="\d{3}-\d{4}"class="col-6 offset-1" required />
								</div>
								<div class="row">
									<label for="address" class="col-2 offset-1">住所</label>
									<input type="text" th:field="*{address}"class="col-6 offset-1" required />
								</div>
								<div class="row">
									<label for="password" class="col-2 offset-1">パスワード</label>
									<input type="password" th:field="*{password}"class="col-6 offset-1" required />
									<!--
									<input type="password" name="password" id="password" value="nca5f502" />
									-->
								</div>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								
								<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

							</div>
							<div>
								<button type="submit"id="submit">新規登録</button>
							</div>
						</form>

						
						
					
					<ul class="actions">
						<li><a th:href="@{/user/login}" class="button primary">ログイン画面に戻る</a></li>
					</ul>
				</section>
			
			</div>
		</div>
	<footer>
			<small>Copyright © 2025 TeamB</small>
	</footer>
	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
	
</body>

</html>