<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>学天市場</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/reset.css" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

	<body >
		<div class="container">
		<header class="row">
			<h1 class="col-3"><a th:href="@{/snack/list}">学天市場</a></h1>
			<form method="post" th:action="@{/snack/search} " class="col-3"th:object="${snackForm}">
				<input type="search" placeholder="キーワードを入力" th:field="*{snackname}">
				<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
			
			</form>
			<ul class="col-6">
				
				<li><a th:if="${#authentication != null and #authentication.principal == 'anonymousUser'}" th:href="@{/user/login}">ログイン</a></li>
				<li><a th:if="${#authentication != null and #authentication.principal != 'anonymousUser'}" th:href="@{/user/info}">ユーザー情報</a></li>

				<li><a th:href="@{/buy/favorite}">お気に入り</a></li>
				<li><a th:href="@{/buy/buy_history}">購入履歴</a></li>
				<li><a th:href="@{/buy/bag}">買い物かご</a></li>
				<li><a th:href="@{/buy/history}">閲覧履歴</a></li>
			</ul>
			
		</header>
		
	
		<div class="row">
			<div class="category col-2 text-center" >
				<h2>カテゴリー</h2>
				<ul>
					<li><a th:href="@{/snack/snack_list/snacks}">スナック菓子</a></li>
					<li><a th:href="@{/snack/snack_list/gummi}">グミ</a></li>
					<li><a th:href="@{/snack/snack_list/baked_sweets}">焼き菓子</a></li>
					<li><a th:href="@{/snack/snack_list/chocolate}">チョコ</a></li>
					<li><a th:href="@{/snack/snack_list/dairy_products}">乳製品</a></li>
					<li><a th:href="@{/snack/snack_list/candy}">キャンディー</a></li>
					<li><a th:href="@{/snack/snack_list/evasion_of_the_law}">脱法</a></li>
					<li><a th:href="@{/snack/snack_list/educational_sweets}">知育菓子</a></li>
					<li><a th:href="@{/snack/snack_list/fruit}">フルーツ菓子</a></li>
					<li><a th:href="@{/snack/snack_list/jelly}">ゼリー</a></li>
				</ul>
			</div>
	
			<section id="item" class="col-10 text-center">
				<div class="inner">
					
							
					<div th:object="${form}">
									
	
					    <div th:if="${!#lists.isEmpty(snackList)}" th:each="snack : ${snackList}" class="col-12">
																										
							<h2 th:text="${snack.snackname}"></h2>
							<figure  class="col-8 offset-2"><img th:src="@{/assets/image/{picture}(picture=${snack.picture})}" th:alt="${snack.snackname}"></figure>
							<div class="row text-center">
								<p th:if="${snack.stock} <= 0" class="red offset-3 col-6 sold_text">この商品は現在品切れ中です。</p>
							</div>
							<div class="row col_a btn_space">
								<div class="col-4 offset-1 "><a th:href="@{'/buy/snack_item/' + 'favorite_add/' + ${snack.snackid}}">お気に入りに追加</a></div>
								<div class="col-4 offset-2 " >
									<a th:href="@{'/buy/bag_add/' + ${snack.snackid}}" th:if="${snack.stock} > 0">買い物かごに追加</a>
									<span th:if="${snack.stock} <= 0" class="sold">購入できません</span>
								</div>
							</div>		
							<table class="text-left">
								<tr class="row">
									<th class="col-2 offset-2">商品名</th>
									<td th:text="${snack.snackname}" class="col-6"></td>
								</tr>
								<tr  class="row">
									<th class="col-2 offset-2">商品番号</th>
									<td th:text="${snack.snackid}"  class="col-6"></td>
								</tr>
								<tr  class="row">
									<th class="col-2 offset-2">カテゴリー</th>
									<td th:text="${snack.category}"  class="col-6"></td>
								</tr>
								<tr  class="row">
									<th class="col-2 offset-2">制作会社</th>
									<td th:text="${snack.company}"  class="col-6"></td>
								</tr>
								<tr  class="row">
									<th class="col-2 offset-2">在庫</th>
									<td th:text="${snack.stock}"  class="col-6 "></td>
								</tr>
								<tr  class="row">
									<th class="col-2 offset-2">値段</th>
									<td th:text="${snack.price}"  class="col-6 "></td>
								</tr>
							</table>				  	
							
										        
												
												
							
						</div>
					</div>
				</div>
			</section>
			</div>
			</div>
		<footer>
			<small>Copyright © 2025 TeamB</small>
		</footer>

		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.scrollex.min.js"></script>
		<script src="/assets/js/jquery.scrolly.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
