<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>お気に入りページ</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/noscript.css" />
</head>

<body class="is-preload">

	<section class="wrapper style1 align-center">
		<div class="inner">
			<div class="index align-left">
				<section>
					<header>
						<h1>学天市場</h1>
					</header>

					<div class="field">
						<label for="search">検索</label>
						<input type="text" th:field="*{search}" />
					</div>

					<div class="content">
						<ul class="actions">
							<li><a href="/user/login" class="button large">ログイン</a></li>
							<li><a href="/user/favorite" class="button large">お気に入り</a></li>
							<li><a href="/user/history" class="button large">購入履歴</a></li>
							<li><a href="/user/cart" class="button large">買い物かご</a></li>
							<li><a href="/user/view" class="button large">閲覧履歴</a></li>
						</ul>
					</div>
				</section>
			</div>

			<!--お気に入り商品が登録されているページを作成-->

			<h3>お気に入り商品</h3>
			<div class="goods">
				<img th:src="">
				<div class="item-name">
					商品名:<input type="text" th:field="*{snackname}">
				</div>
				<div class="item-price">
					値段:<input type="text" th:field="*{price}">
				</div>
			</div>
		</div>
	</section>
</body>

</html>