<!DOCTYPE HTML>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>ログインページ</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/noscript.css" />
</head>

<body class="is-preload">

	<section class="wrapper style1 align-center">
		<div class="inner">
			<div class="index align-left">
				<section>
					<header>
						<h1>学天市場</h1>
					</header>

					<h3>学天会員　ログイン</h3>
					<div class="content">
						<form th:action="@{/perform_login}" method="post">
							<div class="fields">
								<div class="field half">
									<label for="usermail">メールアドレス(必須)</label>
									<input type="email" name="username" id="username" value="security@java.nca" />
								</div>
							</div>
							<ul class="actions">
								<li><input type="submit" name="submit" id="submit" value="ログイン" /></li>
							</ul>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<!-- エラーメッセージ -->
							<div th:if="${param.error}">
								<p style="color:red;">ユーザー名またはパスワードが無効です。</p>
							</div>
							<!-- ログアウトメッセージ -->
							<div th:if="${param.logout}">
								<p style="color:green;">正常にログアウトしました。</p>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>

</html>